
body{}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}
.container {
    background: url(/images/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
}
.container .navigation nav ul{
    display: flex;
    position: sticky;
    align-items: center; 
    background-repeat: no-repeat;
    color: white;
    float: right;
    padding: 20px 70px ;
}
.container .navigation nav ul li{
    position: relative;
    display: inline;
    font-size: 1.2rem;
    padding: 5px;
}
.container .navigation nav ul li a{
    text-decoration: none;
    padding: 10px;
    display: block;
     padding: 3px 20px;
     color: rgb(8, 82, 8);
     border: 1px solid black;
    padding: 4px 30px;
    text-transform:uppercase;
}
.container .navigation nav ul li a:hover{
    background-color: rgb(5, 80, 5);
    color: white;
}
.container .navigation nav::before{
    content: "";
    position: absolute;
    height: 10%;
    width: 100%;
    z-index:-1;
    opacity: 0.4;
}
.container .front{
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    /* text-align: center;  */
}
.container .front .title  h1{
    font-size: 3.5rem;
    color: black;
    padding: 80px 0 20px;
    text-transform:uppercase;
    text-align: center; 
}
.container .front .title  h2{
    padding: 0 100px;
    color: rgb(48, 46, 46);
}
/* .container .front .title  p{
    font-size: 20px;
    color: black;
    padding-top: 10px;
} */
.container .front .title .plants .info #para1{
    padding: 20px 0 20px 150px ;
} 
.container .front .title .plants .info #para2{
    padding: 0 70px;
}