.container{
    background-image: url("../assets/index.jpg") ;
    background-repeat: no-repeat;
    background-Size: cover;
    width: 100vw;
    height: 500px;
}

.container .title  {
    text-align: center;
    align-items: center;
}

.container .title h1{
    font-size: 3rem;
    color: white;
    padding: 180px 20px 0;
    font-weight: bold;
}
.container .title  p{
    font-size: 20px;
    color: white;
    padding-top: 10px;
}